.crypto-list {
    margin: 0 auto;
    width: 800px;
    max-height: 500px;
    overflow-y: scroll;
    list-style: none;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.crypto-list td {
  text-align: center;
}

.view-price {
  text-decoration: underline;
  cursor: pointer;
}
